[package]
name = "barreleye-indexer"
description = "Open-source blockchain analytics."
repository = "https://github.com/barreleye/barreleye"
documentation = "https://docs.rs/barreleye"
homepage = "https://barreleye.com"
version = "0.0.1"
license = "Apache-2.0"
edition = "2021"
workspace = ".."

[dependencies]
eyre = "0.6.8"
serde = "1.0.164"
serde_json = "1.0.96"
async-trait = "0.1.68"
bitcoin = "0.30.0"
console = "0.15.7"
governor = "0.5.1"
base64 = "0.21.2"
regex = "1.8.4"
bitcoincore-rpc-json = "0.17.0"
derive_more = "0.99.17"
env_logger = "0.10.0"
log = "0.4.18"
tokio = { version = "1.28.2", features = ["full"] }
uuid = { version = "1.3.3", features = ["v4", "fast-rng"] }
reqwest = { version = "0.11.18", features = ["rustls-tls"] }
num-format = { version = "0.4.4", features = ["with-system-locale"] }

barreleye-common = { path = "../common", version = "0.0.1" }

[dependencies.sea-orm]
version = "0.11.3"
features = [
  "sqlx-sqlite",
  "sqlx-postgres",
  "sqlx-mysql",
  "runtime-tokio-rustls"
]
