[package]
name = "barreleye-server"
description = "Open-source blockchain analytics."
repository = "https://github.com/barreleye/barreleye"
documentation = "https://docs.rs/barreleye"
homepage = "https://barreleye.com"
version = "0.0.1"
license = "Apache-2.0"
edition = "2021"
workspace = ".."

[dependencies]
tokio = { version = "1.28.2", features = ["full"] }
log = "0.4.19"
eyre = "0.6.8"
axum = "0.6.18"
axum-extra = { version = "0.7.4", features = ["query"] }
derive_more = "0.99.17"
serde = "1.0.164"
console = "0.15.7"
serde_json = "1.0.97"
hyper = "0.14.26"
uuid = { version = "1.3.4", features = ["v4", "fast-rng"] }
tower = { version = "0.4.13", features = ["timeout"] }

barreleye-common = { path = "../common", version = "0.0.1" }

[dependencies.sea-orm]
version = "0.11.3"
features = [
  "sqlx-sqlite",
  "sqlx-postgres",
  "sqlx-mysql",
  "runtime-tokio-rustls"
]
