[package]
name = "barreleye-common"
description = "Open-source blockchain analytics."
repository = "https://github.com/barreleye/barreleye"
documentation = "https://docs.rs/barreleye"
homepage = "https://barreleye.com"
version = "0.0.1"
license = "Apache-2.0"
edition = "2021"
workspace = ".."

[dependencies]
async-trait = "0.1.68"
eyre = "0.6.8"
sea-orm-migration = "0.11.3"
nanoid = "0.4.0"
serde = "1.0.163"
log = "0.4.18"
derive_more = "0.99.17"
indicatif = "0.17.4"
serde_json = "1.0.96"
chrono = { version = "0.4.26", default-features = false, features = ["clock", "std"] }
url = "2.3.1"
console = "0.15.7"
exitcode = "1.1.2"
bitcoin = "0.30.0"
directories = "5.0.1"
rocksdb = "0.21.0"
rmp-serde = "1.1.1"
regex = "1.8.3"
governor = "0.5.1"
base64 = "0.21.2"
itertools = "0.10.5"
futures = "0.3.28"
hex = "0.4.3"
num_cpus = "1.15.0"
bitcoincore-rpc-json = "0.17.0"
duckdb = { version = "0.8.0", features = ["bundled"] }
reqwest = { version = "0.11.18", features = ["rustls-tls"] }
tokio = { version = "1.28.2", features = ["full"] }
ethers = { version = "2.0.7", features = ["rustls"] }
clickhouse = { version = "0.11.4", features = ["uuid"] }
clap = { version = "4.3.1", features = ["cargo", "derive", "env"] }
uuid = { version = "1.3.3", features = ["v4", "fast-rng"] }

[dependencies.sea-orm]
version = "0.11.3"
features = [
  "sqlx-sqlite",
  "sqlx-postgres",
  "sqlx-mysql",
  "runtime-tokio-rustls"
]
